<form class="iron-hills-sheet">
  <header class="sheet-header">
    <h1><input type="text" name="name" value="{{item.name}}"></h1>
  </header>

  <section class="sheet-body">
    <div class="grid two-col">
      <label>Тир
        <input type="number" name="system.tier" value="{{system.tier}}">
      </label>

      <label>Вес
        <input type="number" name="system.weight" value="{{system.weight}}">
      </label>

      <label>Количество
        <input type="number" name="system.quantity" value="{{system.quantity}}">
      </label>
    </div>
  </section>
</form>