<form class="iron-hills-sheet">
  <header class="sheet-header">
    <h1><input type="text" name="name" value="{{item.name}}"></h1>
  </header>

  <section class="sheet-body">
    <div class="grid two-col">
      <label>Тир
        <input type="number" name="system.tier" value="{{system.tier}}">
      </label>

      <label>Вес
        <input type="number" name="system.weight" value="{{system.weight}}">
      </label>

      <label>Количество
        <input type="number" name="system.quantity" value="{{system.quantity}}">
      </label>

      <label>Категория
        <select name="system.category">
          <option value="metal" {{#if (eq system.category "metal")}}selected{{/if}}>metal</option>
          <option value="wood" {{#if (eq system.category "wood")}}selected{{/if}}>wood</option>
          <option value="hide" {{#if (eq system.category "hide")}}selected{{/if}}>hide</option>
          <option value="fiber" {{#if (eq system.category "fiber")}}selected{{/if}}>fiber</option>
          <option value="herbs" {{#if (eq system.category "herbs")}}selected{{/if}}>herbs</option>
          <option value="meat" {{#if (eq system.category "meat")}}selected{{/if}}>meat</option>
          <option value="stone" {{#if (eq system.category "stone")}}selected{{/if}}>stone</option>
        </select>
      </label>
    </div>
  </section>
</form>