<form class="iron-hills-sheet">
  <header class="sheet-header">
    <h1><input type="text" name="name" value="{{item.name}}"></h1>
  </header>

  <section class="sheet-body">
    <div class="grid two-col">
      <label>Тир
        <input type="number" name="system.tier" value="{{system.tier}}">
      </label>

      <label>Вес
        <input type="number" name="system.weight" value="{{system.weight}}">
      </label>

      <label>Количество
        <input type="number" name="system.quantity" value="{{system.quantity}}">
      </label>

      <label>Категория
        <select name="system.category">
          <option value="water" {{#if (eq system.category "water")}}selected{{/if}}>water</option>
          <option value="mana" {{#if (eq system.category "mana")}}selected{{/if}}>mana</option>
          <option value="fuel" {{#if (eq system.category "fuel")}}selected{{/if}}>fuel</option>
        </select>
      </label>
    </div>
  </section>
</form>